# === LaTeX Residues ===
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.xml
*.xwm
standard-model.pdf
